   .viddiv8989{
    margin-top: 10%;
    height: 140vh;
    width: 100%;
   }
   .vidp5656{
 font-family: "Fondamento", cursive;    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }