   .backring{
    background: #000;
     height: 70vh;
     width: 100%;
     position: absolute;
     z-index: -1;
     filter: brightness(90%);
     border: 1px solid blue;
     position: sticky;
     background: url("public/Images/ring_remove1.jpeg") no-repeat center/cover;
     border: 1px solid;
   }

   .backring p {
     position: absolute;
     content: "";
     z-index: 0;
   }

   .backdivtxt {
     height: 30vh;
     margin-top: 3%;
     margin-left: 10%;
   }

   #backtxt1 {
     font-size: 40px;
     margin-left: 6%;
     margin-bottom: 30px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: #ffffff;
   }

   #backtxt2 {
     font-family: "Reddit Sans Condensed", sans-serif;
     color: white;

   }

   .backring img {
     height: 100%;
     width: 100%;
   }

   #backpi {
     margin-top: 70px;
     color: wheat;
     font-size: 20px;
     margin-right: 14%;
     height: 8vh;
     font-family: Georgia, 'Times New Roman', Times, serif;
     width: 30%;
   }

   .backmid_card {
     display: flex;
   }

   .backbutton1 {
     background: rgba(153, 150, 146, 0.725);
     height: 6vh;
     margin-left: 23%;
     margin-top: 57px;
     width: 12%;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .backg9090 {
     margin-left: 12%;
     margin-top: 3%;
     height: 40vh;
     gap: 20px;
       width: 70%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(1, 1fr);
   }

   .backgc1 {
     border: 15px solid #ffffff;
          border-radius: 10px;
   }

  .backgc1 img {
     height: 40vh;
     width: 100%;
     filter: brightnes(200%);



   }